:root {
  --divNum: 64;
}

header {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  color: white;
  text-shadow: 4px 4px 4px slategray;
}
.sketchBoard {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
  justify-content: center;
  padding: 0 10%;
  background-color: salmon;
}

#board {
  grid-column: 2/4;
  grid-row: 1 /3;
  display: grid;
  grid-template-columns: repeat(var(--divNum), 1fr);
  grid-template-rows: repeat(var(--divNum), 1fr);
  border: 4px solid steelblue;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 80px));
  column-gap: 2%;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: lightblue;
  border: 4px solid steelblue;
  border-right: none;
}

#boardPixel {
  background-color: white;
  border: none;
  margin: 0;
}

#inputColor {
  height: 50%;
  width: auto;
}

.tips {
  color: white;
  margin: 0 5%;
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 2px steelblue;
}

button,
#inputNum,
#inputColor {
  background-color: white;
  border-radius: 10%;
  border: 1px solid steelblue;
  margin: 0 5%;
  cursor: pointer;
}
